extends layout.pug

block header
	h1 Lag din nye superkonto!
block content
	form(action="/signup" method="post")
		input(type="text" placeholder="Brukernavn" name="username")
		br
		input(type="password" placeholder="Passord" name="password")
		br
		input(type="submit" value="Registrer konto")
